.main-page {
  height: 372vh;
  background: #e7e6e1;
}

.navbar-main-style {
  background: #314e52;
  padding: 10px;
 
}

.logo-style {
  width: 30px;
  height: auto;
}

.logo-div {
  justify-content: flex-end;
  display: flex;
}

.home-div {
  justify-content: flex-start;
  display: flex;
}

.whole-thing-div {
  width: 80%;
  margin-left: 90px;
  margin-top: 50px;
}

.a-shy-optimistic {
 
  font-size: 20px;
  font-family: Poppins;
  color: #314e52;
  
}

.hey-im {
  font-size: 31px;
  font-family: Poppins;
  color: #314e52;
  position: absolute; left: 48%; top: 88%;
}

.niharika {
  position: absolute; left: 80%; top: 64%;
  font-size: 38px;
  font-family: Bestigia;
  color: #314e52;

  display: flex;
}

.projects {
 

  font-size: 20px;
  ;
  font-family: Poppins;
  color: #314e52;
 
}

.education {
  position: absolute; left: 5%; top: 105%;
  font-size: 70px;
  font-family: Bestigia;
  color: #314e52;
}

.experience {
  position: absolute; left: 5%; top: 123%; 
  font-size: 70px;
  font-family: Bestigia;
  color: #314e52;
}

.main-heading {
  font-size: 70px;
  font-family: Bestigia;
  color: #314e52;
  }
  
.heading-bold {
 
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins;
  color: #314e52;

}

.content-paragraph {
 
  font-size: 18px;
  font-family: Poppins;
  color: #314e52;

}

.content-paragraph-reverse {
 
  font-size: 16px;
  font-family: Poppins;
  color: #F7F6E7;

}

.numbering {
  font-size: 96px;
  font-weight: 1000;
  font-family: bestigia;
  color: transparent;
  -webkit-text-stroke: 0.25px #acacac;
}

.heading-bullets {
  font-weight: 500;
  font-family: Poppins;
}

.rectangle-div {
  width: 100%;
  position: relative;
  background-color: #d9d9d9;
  height: 772px;
}

.photographs-projects {
  width: 100%;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 508px;
  object-fit: cover;
}

.d-flex {
  display: flex;
} 

.icon-size {
  width: 45px;
  height: 45px;
}

.line {
  height: 0.5px;
  width: 624px;
  background: #314e52;
  position: absolute; right: 17%; top: 70%;
}

/* .rectangle {
  height: 550px;
  width: 380px;
  background: #d9d9d9;
  position: absolute; top: 226%; left: '30%';
  
} */

/* Font Files */

@font-face {
  font-family: "Bestigia";
  src: url("./assets/BESTIGIA-REGULAR.TTF") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/Resources/POPPINS-LIGHT.TTF") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/Resources/POPPINS-MEDIUM.TTF") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/Resources/POPPINS-REGULAR.TTF") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("./assets/Resources/INTER-VARIABLEFONT_SLNT\,WGHT.TTF") format("truetype");
}

@font-face {
  font-family: "Ballet";
  src: url("./assets/Resources/BALLET-REGULAR-VARIABLEFONT_OPSZ.TTF") format("truetype");
}

@font-face {
  font-family: "Fleurdeleah";
  src: url("./assets/Resources/FLEURDELEAH-REGULAR.TTF") format("truetype");
}




